html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Assurez-vous que .app prend toute la largeur */
  height: 100vh; /* Utilisez vh pour la hauteur pour s'assurer qu'elle prend 100% de la hauteur de la fenêtre du navigateur */
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  transition: background-color 0.5s;
}

.container {
  text-align: center;
  max-width: 100%; /* Cela s'assure que le conteneur ne dépasse pas la largeur de l'écran */
}

.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.question {
  font-size: 24px; /* Taille de la police */
  font-weight: bold; /* Gras */
  margin-bottom: 20px; /* Espacement en dessous de la question */
  color: #333; /* Couleur du texte */
  padding: 10px; /* Padding autour du texte */
  border-bottom: 2px solid #eee; /* Ligne de séparation sous la question */
  text-align: center; /* Centrage du texte */
  width: 100%; /* S'assurer que la question prend toute la largeur disponible */
  box-sizing: border-box; /* Le padding et la bordure sont inclus dans la largeur */
}

.options-grid button {
  flex-basis: 45%; /* Ajustez en fonction de la largeur souhaitée */
  margin: 5px;
}

.options-line button {
  flex-basis: 90%; /* Ajustez pour les options en ligne */
  margin: 5px;
}

button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.question, .options, button {
  margin-bottom: 20px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.selected {
  background-color: #3498db !important; /* Bleu pour la réponse sélectionnée */
}

.correct-answer {
  background-color: #4CAF50 !important; /* Vert pour la bonne réponse */
  color: black;
}

.incorrect-answer {
  background-color: lightcoral !important; /* Rouge pour une réponse incorrecte si nécessaire */
}

.incorrect-answer.selected {
  background-color: darkred !important; /* Rouge pour une réponse incorrecte sélectionnée */
    color: white;
}

.correct-answer.selected {
  background-color: darkgreen !important; /* Vert pour une réponse correcte sélectionnée */
  color: white;
}
